
html {
  text-align: center;
}

h3 {
  text-align:center;
}
body {
  background-image: linear-gradient(#2c5f2dff, lightgreen);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.titlecontainer {
  display:flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: #2c5f2dff;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  color: #ffe77aff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.cactuscontainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

button:active {
  box-shadow: 10px 10px 10px black;
}
